# FastAPI 웹 서버
fastapi==0.111.0
uvicorn[standard]==0.23.2

# 데이터 처리
numpy==1.26.4
pandas==2.1.1

# 머신러닝
scikit-learn==1.2.2
joblib==1.3.2

# DB 연결
psycopg2-binary==2.9.9

# Redis 캐시
redis==4.6.0

# 타입 힌트 / Pydantic
pydantic==2.8.2
